.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}

#logo{
    /*background: url("src/logo.jpg");*/
    background-image: url("http://localhost:8080/BomberApp/faces/resources/utils/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: auto 40px;
    background-position: center;
    height: 40px;
    margin-bottom: 5px;
    position: static;
}