.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}

#logofooter{
    background-image: url("http://localhost:8080/BomberApp/faces/resources/utils/img/banner.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    height: 80px;
    margin-bottom: 5px;
    position: static;
}

div.ui-menubar ul.ui-menu-list li.menuPrincipal,
div.ui-menubar ul.ui-menu-list li.ui-menuitem{
    padding-right: 7px;
}

div.ui-menubar ul.ui-menu-list li.menuPrincipal a.ui-menuitem-link,
div.ui-menubar ul.ui-menu-list li.ui-menuitem a.menuPrincipal{
    padding: 7px;
    border-radius: 5px;
}

div.ui-menubar ul.ui-menu-list li.menuPrincipal ul.ui-menu-child{
    padding-right: 15px;
}

div.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-south.ui-layout-pane.ui-layout-pane-south 
div.ui-layout-unit-content.ui-widget-content{
    background: none;
}

div.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-south.ui-layout-pane.ui-layout-pane-south,
div.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-north.ui-layout-pane.ui-layout-pane-north{
    background: #303030; 
}

div.ui-layout-unit.ui-widget.ui-widget-content.ui-corner-all.ui-layout-north.ui-layout-pane.ui-layout-pane-north{    
    height: 153px !important;
}

div#banner div.ui-layout-unit-content.ui-widget-content{
    background: none;
}

div#banner2{
    height: 98px;
    width: 800px;
    margin: auto;
    display: table;
}


/* hlavicka ------------------------------------------------------------------ */
#header2 { background: none; margin-right: -258px;}

#logo {
    font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
    position: relative; 
    overflow: hidden; 
    width: 250px; 
    height: 108px;
    font-size:230%;
    margin: 0;
    line-height: 90px;
    text-align: center;
}
#logo a{
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    border-left: 8px solid #b41818;  
    padding: 0px 10px 7px 10px;  
}

#logo span {
    color: #676767;
    font-weight: bold;
}

#logo a:hover span {
    color: #fff;
    font-weight: bold;
}

a {color:#303030;font-size:105%; border-bottom: 1px solid #ddd;}
a:link {color:#303030;font-size:105%; border-bottom: 1px solid #ddd;}
a:hover {color:#303030; text-decoration: none;font-size:105%; border-bottom: 1px solid #ddd;}

#titulo{
    float: left;
    margin-top: 5px;
    font-size: large;
}

#acciones{
    float: right;
    margin-top: -9px;
}

div.tabla div.ui-datatable-header {
    height: 27px;
}

table.ui-panelgrid tbody tr.ui-widget-content, 
table.ui-panelgrid tbody tr.ui-widget-content td.ui-panelgrid-cell{
    border-style: none; 
}

div#acciones button.ui-button {
    width: 100px;
    margin-right: 5px;
}

.contenido{
    border: none;
    background: transparent;
    padding: 20px;
}

.contenido div.ui-layout-unit-content{
    padding: 10px 20px 20px 20px;
}

.table-container{
    display: table;
}

.table-half-screen{
    display: table-cell;
    width: 50%;
}

.pie{
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;    
}

#logo2{
    background-image: url(utils/bannersinfondo.png);
    background-repeat: no-repeat;
    background-size: 390px 75px;
    display: table-cell;
    width: 390px;
    padding-top: -226px;
    background-position-y: 17px;
}

